<%= render "shared/errors", obj: @book %>

<table class="attr">
  <tr>
    <th><%= form.label :title %></th>  
    <td><%= form.text_field :title %></td>
  </tr>
  </br>
  <tr>
    <th><%= form.label :author %></th>  
    <td><%= form.text_field :author %></td>
  </tr>
  </br>
  <tr>
    <th><%= form.label :publisher %></th>  
    <td><%= form.text_field :publisher %></td>
  </tr>
  </br>
  <tr>
    <th><%= form.label :isbn %></th>  
    <td><%= form.text_field :isbn %></td>
  </tr>
  <tr>
    <th><%= form.label :pub_date %></th>  
    <td><%= form.date_select :pub_date,
              start_year: 1900, end_year: Time.now.year,
              use_month_numbers: true %></td>
  </tr>
  </br>
  <tr>
    <th><%= form.label :page %></th>  
    <td><%= form.text_field :page %></td>
  </tr>

</table>
