<%= render "shared/errors", obj: @member %>

<table class="attr">
  <tr>
    <th><%= form.label :member_id %></th>
    <% if session[:login] %>
      <td><%= form.text_field :member_id, :readonly => "" %></td>
    <% else %>
      <td><%= form.text_field :member_id %></td>
    <% end %>
  </tr>
  </br>
  <tr>
    <th><%= form.label :pw %></th>
    <td><%= form.text_field :pw %></td>
  </tr>
  </br>
  <tr>
    <th><%= form.label :name %></th>
    <td><%= form.text_field :name %></td>
  </tr>
  </br>
</table>
