<% @page_title="本の削除ページだよ"%>

※貸出中の本は削除できません
<% if @books.present? %>
  <table class="list">
    <tr>
      <th>タイトル</th>
      <th>著者</th>
      <th>削除欄</th>
    </tr>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <% if !book.lending %>
          <td><%= link_to "削除", book_delete_admin_path(book), confirm: "削除するよ？", method: :delete %></td>
        <% else %>
          <td>削除不可</td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @books %>
<% else %>
  <p>本がないよ</p>
<% end %>

<%= form_tag :admin, method: :get do %>
  <p><%= submit_tag "管理者ページトップに戻る" %></p>
<% end %>